.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-details {
  flex-direction: row;
}

.card-logo {
  color: white;
  font-size: 40px;
}

.card-link {
  text-decoration: none;
  color: #61dafb;
}
